* {
  cursor: none;
}
a::after {
  content: "";
}

@font-face {
  font-family: "Hiragino";
  src: local("Hiragino"),
    url("./assets/font/Hiragino\ Kaku\ Gothic\ StdN\ W8.otf") format("opentype");
  font-display: swap;
}

.hiragino-font {
  font-family: Hiragino;
}
