* {
  cursor: none;
}
a::after {
  content: "";
}
html {
  overflow-x: hidden;
}

@font-face {
  font-family: "Hiragino";
  src: local("Hiragino"),
    url("./assets/font/HelveticaNowText-ExtraBold.ttf") format("opentype");
  font-display: swap;
}
* {
  cursor: none !important;
}
.hiragino-font {
  font-family: Hiragino;
}
